<!DOCTYPE html>

<html>
<head>
    <title>Echo Server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/static/elements.html">
    <script>
            var channel = '{{.Channel}}';
        </script>
</head>

<body unresolved fullbleed>
<template is="dom-bind" id="app">
    <header>
        <h2>Echoing channel {{.Channel}}</h2>
        <p>URL: <span id="restUrl"></span></p>
    </header>
    <main>
        <article>
            <vaadin-grid id="grid">
                <table>
                    <colgroup>
                        <col name="timestamp">
                        <col name="method">
                        <col name="body">
                    </colgroup>
                    <tfoot>
                    <tr>
                        <th>
                            Count: <span id="count"></span>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </vaadin-grid>
        </article>
        <nav></nav>
        <aside></aside>
    </main>
    <footer></footer>
</template>
<script src="/static/js/echo.js"></script>
</body>
</html>
