<!DOCTYPE html>

<html>
    <head>
        <title>Echo Server</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script src="/static/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
        <link rel="import" href="/static/elements.html">
    </head>

    <body unresolved fullbleed>
        <template is="dom-bind" id="app">
            <header><h2>REST Callback Echo Server</h2></header>
            <main>
                <bi-channel-input id="input"></bi-channel-input>
                <bi-channel-list id="list"></bi-channel-list>

                <nav></nav>
                <aside></aside>
            </main>
            <footer></footer>
        </template>
        <script src="/static/js/index.js"></script>
    </body>
</html>
